@tailwind base;
@tailwind components;
@tailwind utilities;
@layer utilities {
  *::-webkit-scrollbar {
    display: none;
  }
  * {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.cc-conversations__menus {
  display: none !important;
}
